{% extends 'tracker/catalog_base.html' %}

{% block stuff %}
        <h1>Catalog</h1>
        <div>
            <table>
              <tr>
                <th>Item </th>
                <th>Producer</th>
                <th>Description</th>
                <th>Color</th>
                <th>Tasting Notes</th>
              </tr>
            {% for catalog in catalogs %}
              <tr>
                <td><a href="http://robnichols17.pythonanywhere.com/catalog/{{ catalog.pk }}/edit/">{{ catalog.name }}</a></td>
                <td>{{ catalog.producerid }}</td>
                <td>{{ catalog.description|slice:"50" }}<a href="http://robnichols17.pythonanywhere.com/catalog/{{ catalog.pk }}/"> more<a></td>
                <td>{{ catalog.color }}</td>
                <td>{{ catalog.tastingnotes }}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}
