{% extends 'tracker/catalog_base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="post">
        <h2>
        <img src="{% static catalog.imgname %}"/>
        {{ catalog.name }}
        <a class="btn btn-default" href="{% url 'catalog_edit' pk=catalog.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>
        <table>
            <tr>
                <td style="padding: 10px"><strong>Description</strong></td>
                <td>{{ catalog.description}}</td>
            </tr>
            <tr>
                <td style="padding: 10px"><strong>Tasting Notes</strong></td>
                <td>{{ catalog.tastingnotes}}</td>
            </tr>
        </table>
        <a href="{% url 'catalog_list' %}" class="btn btn-default">Back</a>
    </div>
{% endblock %}
