{% extends 'tracker/catalog_base.html' %}

{% block stuff %}
        <div class="h2">
            <a href="{% url 'catalog_new' %}" class="top-menu2"><span class="glyphicon glyphicon-plus"></span></a>
            Catalog
        </div>
        <div>
            <table style="width:100%">
              <tr>
                <th>Item </th>
                <th>Producer</th>
                <th>Description</th>
                <th>Color</th>
                <th>Tasting Notes</th>
              </tr>
            {% for catalog in catalogs %}
              <tr>
                  <td><a href="{% url 'catalog_edit' catalog.pk %}">{{ catalog.name }}</a></td>
                <td>{{ catalog.producerid }}</td>
                <td>{{ catalog.description|slice:"50" }}<a href="{% url 'catalog_detail' catalog.pk %}"> more<a></td>
                <td>{{ catalog.color }}</td>
                <td>{{ catalog.tastingnotes }}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}
