{% extends 'tracker/catalog_base.html' %}

{% block content %}
        <div class="h2">
            <a href="{% url 'catalog_new' %}" class="top-menu2"><span class="glyphicon glyphicon-plus"></span></a>
            Catalog
        </div>
        <div>
            <table class="cataloglist-table">
              <tr>
                <th>Item </th>
                <th>Producer</th>
                <th>Description</th>
                <th>Color</th>
                <th>Tasting Notes</th>
              </tr>
            {% for catalog in catalogs %}
              <tr>
                <td style="width:20%"><a href="{% url 'catalog_edit' catalog.pk %}">{{ catalog.name }}</a></td>
                <td style="width:15%">{{ catalog.producerid }}</td>
                <td style="width:35%">{{ catalog.description|slice:"50" }}<a href="{% url 'catalog_detail' catalog.pk %}"> more<a></td>
                <td style="width:10%">{{ catalog.color }}</td>
                <td>{{ catalog.tastingnotes }}</td>
                <td><a href="{% url 'catalog_delete' catalog.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}
