{% extends 'tracker/inventory_base.html' %}

{% block content %}
    <div class="post">
        <h2>{{ inventory.item }}
        <a class="btn btn-default" href="{% url 'catalog_edit' pk=catalog.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></h2>
        <table>
            <tr>
                <td>Description</td>
                <td>{{ catalog.description}}</td>
            </tr>
            <tr>
                <td>Tasting Notes</td>
                <td>{{ catalog.tastingnotes}}</td>
            </tr>
        </table>
    </div>
{% endblock %}
