{% extends 'tracker/base.html' %}
{% load staticfiles %}

{% block plus %}
{% endblock %}
{% block content %}
        <div>
            <p><a href="http://robnichols17.pythonanywhere.com/category/list/">Categories</a></p>
            <p><a href="http://robnichols17.pythonanywhere.com/producer/list/">Producers</a></p>
            <p><a href="http://robnichols17.pythonanywhere.com/catalog/list/">Catalog</a></p>
            <p><a href="http://robnichols17.pythonanywhere.com/inventory/list/">Inventory</a></p>
        </div>
{% endblock %}
