{% extends 'tracker/producer_base.html' %}

{% block content %}
            <div class="h2">
                 <a href="{% url 'producer_new' %}" class="top-menu2"><span class="glyphicon glyphicon-plus"></span></a>
                 Producers
            </div>
            <div>
            <table style="width:100%">
              <tr>
                <th>Name</th>
                <th>Country</th>
                <th>State (optional)</th>
              </tr>
            {% for producer in producers %}
              <tr>
                  <td style="padding: 10px;"><a href="{% url 'producer_edit' producer.pk %}">{{ producer.name }}</a></td>
                <td>{{ producer.country }}</td>
                <td>{{ producer.state }}</td>
              </tr>
            {% endfor %}
            </table>
        </div>
{% endblock %}
